<!DOCTYPE html>
<html>
<head>

    <title>Tradewithme.gg</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="assets/css/open-iconic-bootstrap.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
	<link href="assets/css/slideshow-container.css" rel="stylesheet">
	<link href="assets/css/item_frame.css" rel="stylesheet">
	<link href="assets/css/trade_area.css" rel="stylesheet">
	<style>

</style>
	
</head>
<body>

<div id="confirm_box" class="light_box">
	<div class="box_content">
		<div class="stage_box">Stage 1</div>
		<div class="stage_box">Stage 2</div>
		<div class="stage_box">Stage 3</div>
		<div class="stage_box">Stage 4</div>
		<div class="stage_box">Stage 5</div>
		<span class="close cursor" onclick="closeModal()">&times;</span>
	</div>
</div>

	<div id="menu_bar" >
		<img src="assets/images/menu2.png" style="width:100%; height:auto">
		
		<div class="text-center font-color--white font-size--16 font-transform--uppercase" style="position:absolute; left:0px; top:20%">
                <a href=""><span class="font-color--blue">Trade</span>WithMe.GG</a>
		</div>
		
		<div class="login_logo">
			<!--<img src="assets/images/steam_login_logo.jpg" style="width:100%; height:auto;border-radius :10px">-->
			<form id="submit_form" action="/auth/openid" method="post">
					<input id="submit_button" name="submit" type="image" src="http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_01.png"alt="Sign in through Steam" />
			</form>
		</div>
	</div>
	
	<div class="guide_area">
		<div class="book front">
		<div class="book_text">
			Guidance list:
		</div>
			<img src="assets/images/blue_dota.png" class="img_book" style="border-radius:10px;">
		</div>
		
		<!-- <div class="book left">
			<img src="assets/images/item_4.png" class="img_book">
		</div>
		
		<div class="book right">
			<img src="assets/images/item_5.png" class="img_book">
		</div> -->
	</div>
	
	<div id="trade_section" style="width:100%; height:500px; position:relative; background-image: url('../../assets/images/slide_container3.png')">
		<div class="ashes1" ></div>
		<div class="ashes2" ></div>
		<div class="ashes3" ></div>
		<div id="left_side" >
			<div class="font-color--white font-size--30 font-weight--light">Your Items</div>
			<div id="trade_area_user"class="trade_frame" >
				
			</div>
			<div class="trade-area__balance margin-top line-height--20">
				<div class="balance_style right0">Right: $<span id="user_balance" class="font-color--white">0.00</span></div>
			</div>
		</div>
		
		<div id="right_side" >
			<div class="font-color--white font-size--30 font-weight--light">Bot's Items</div>
			<div id="trade_area_bot" class="trade_frame" >
			   
			</div>
			<div class="trade-area__balance margin-top line-height--20">
				<div class="balance_style left0">Left: $<span id="bot_balance" class="font-color--white">0.00</span></div>
			</div>
		</div>

		<div class="col-md-12 no-padding text-center" style="width:100%; height:20%; position:absolute; top:75%">
                        <p class="btn button button--blue margin-bot--10px"  style="width:10%" id="trade-btn" onclick="Confirmation()">
						Trade
						</p>
                        <br>
                        <button class="btn button button--transparent" style="width:10%">Auto Select</button>
        </div>
	</div>
	
<div id="add_item_section" >
	<div class="add_item_left">
		<ul class="nav nav-tabs inventory-area__tab-list" role="tablist">
			<li class="nav-item inventory-area__tab-control">
				<a class="nav-link active inventory-area__tab-link" id="your-csgo-tab" data-toggle="tab" href="#your-csgo" role="tab" aria-controls="csgo" aria-selected="true">
					<img class="inventory-area__tab-image" src="assets/images/csgo_active.png">
				</a>
			</li>
			<li class="nav-item inventory-area__tab-control">
				<a class="nav-link inventory-area__tab-link" id="your-dota-tab" data-toggle="tab" href="#your-dota" role="tab" aria-controls="dota" aria-selected="true">
					<img class="inventory-area__tab-image" src="assets/images/dota_inactive.png">
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class=" active item_storage" id="your-csgo" role="tabpanel">

			</div>
			<div class="" id="your-dota" role="tabpanel">
				
			</div>
		</div>
	</div>
	
	<div class="add_item_filter">
		<input type="text" id="SearchInput" placeholder="Search for names..">
		
		<div class="radio_filter">
			<p class="Radio_KeyWord">shotgun</p>
			<div class="radio">
				<div class="radio_cover">
				</div>
			</div>
		</div>
		
		<div class="radio_filter">
			<p class="Radio_KeyWord">Base grade</p>
			<div class="radio">
				<div class="radio_cover">
				</div>
			</div>
		</div>
		
	</div>
	
	
	
	<div class="add_item_right">
		<ul class="nav nav-tabs inventory-area__tab-list" role="tablist">
			<li class="nav-item inventory-area__tab-control">
				<a class="nav-link active inventory-area__tab-link" id="bot-csgo-tab" data-toggle="tab" href="#bot-csgo" role="tab" aria-controls="csgo" aria-selected="true">
					<img class="inventory-area__tab-image" src="assets/images/csgo_active.png">
				</a>
			</li>
			<li class="nav-item inventory-area__tab-control">
				<a class="nav-link inventory-area__tab-link" id="bot-dota-tab" data-toggle="tab" href="#bot-dota" role="tab" aria-controls="dota" aria-selected="true">
					<img class="inventory-area__tab-image" src="assets/images/dota_inactive.png">
				</a>
			</li>
		</ul>

		<div class="tab-content" id="bot_area" bot=1 steamid="76561198366407443" >
			<div class="tab-pane active item_storage" id="bot-csgo" role="tabpanel" >

			</div>
			<div class="tab-pane" id="bot-dota" role="tabpanel">
		
			</div>
		</div>
	</div>
</div>
<script>

function Confirmation() {
  document.getElementById('confirm_box').style.display = "block";
}

function closeModal(){
	document.getElementById('confirm_box').style.display = "none";
}
</script>
<!--jQuery-->
<script src="assets/js/jquery-3.2.1.min.js"></script>
<!--Bootstrap JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/slideshow-container.js"></script>
</body>
</html>